**MAT494 Assignment**

Adhitya Swaminathan - 1910110025

**Question 4**

In [14]:
#importing required datasets
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#!pip install neupy
from neupy.algorithms import GRNN
from sklearn import metrics
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split

In [3]:
#loading dataset
df = pd.read_csv('bodyfat.csv',index_col=0)
df

     age  DEXfat  waistcirc  hipcirc  ...  anthro3a  anthro3b  anthro3c  anthro4
47    57   41.68      100.0    112.0  ...      4.42      4.95      4.50     6.13
48    65   43.29       99.5    116.5  ...      4.63      5.01      4.48     6.37
49    59   35.41       96.0    108.5  ...      4.12      4.74      4.60     5.82
50    58   22.79       72.0     96.5  ...      4.03      4.48      3.91     5.66
51    60   36.42       89.5    100.5  ...      4.24      4.68      4.15     5.91
..   ...     ...        ...      ...  ...       ...       ...       ...      ...
113   53   11.21       66.6     92.2  ...      2.40      2.58      2.05     3.18
114   31   14.18       69.7     93.2  ...      3.10      3.36      2.76     4.14
115   27   20.84       66.5    100.0  ...      3.50      4.14      3.76     5.04
116   52   19.00       76.5    103.0  ...      3.33      3.73      3.21     4.64
117   59   18.07       71.0     88.3  ...      3.48      4.13      3.45     5.03

[71 rows x 10 columns]

In [15]:
#missing values check
df.isnull().sum()

age             0
DEXfat          0
waistcirc       0
hipcirc         0
elbowbreadth    0
kneebreadth     0
anthro3a        0
anthro3b        0
anthro3c        0
anthro4         0
dtype: int64

In [16]:
#scaling and splitting 
df = pd.DataFrame(scale(df),columns = df.columns, index = df.index)
Y = df.DEXfat
X = df.drop(columns=['DEXfat'])
X_train, X_test, Y_train, Y_test =  train_test_split(X,Y, train_size=45, random_state=123)

#GRNN with std 2.5
grnn = GRNN(std=2.5, verbose=True)
grnn.train(X_train,Y_train)

#function which evaluates GRNN
def fit_eval(Y_test,Y_pred,verbose=True):
    array = np.array([
        metrics.mean_squared_error(Y_test,Y_pred),
        metrics.mean_absolute_error(Y_test,Y_pred),
        metrics.max_error(Y_test,Y_pred),
        metrics.explained_variance_score(Y_test,Y_pred),
        metrics.r2_score(Y_test,Y_pred)
        ])
    if verbose:
        print('Evaluation: ')
        print(f'Mean Squared Error : {array[0]}')
        print(f'Mean Absolute Error : {array[1]}')
        print(f'Max Error : {array[2]}')
        print(f'Explained Variance Score: {array[4]}')
        print(f'R sq Score: {array[3]}')
    return(array)

Main information

[ALGORITHM] GRNN

[OPTION] std = 2.5
[OPTION] verbose = True

In [17]:
Y_pred = grnn.predict(X_test).reshape(len(X_test))
m1 = fit_eval(Y_test, Y_pred)

Evaluation:
Mean Squared Error : 0.2552921638783402
Mean Absolute Error : 0.3624213781214852
Max Error : 1.7969325133038057
Explained Variance Score: 0.7816866538396456
R sq Score: 0.7883838304468639

In [18]:
#smoothing param = 0.1
grnn = GRNN(std=0.1, verbose=True)
grnn.train(X_train,Y_train)
Y_pred = grnn.predict(X_test).reshape(len(X_test))
m2 = fit_eval(Y_test,Y_pred)

Main information

[ALGORITHM] GRNN

[OPTION] std = 0.1
[OPTION] verbose = True

Evaluation:
Mean Squared Error : 0.1802392015733578
Mean Absolute Error : 0.31596736778117684
Max Error : 1.4063283763392072
Explained Variance Score: 0.8458682687044715
R sq Score: 0.8458695843680027

In [19]:
#smoothing param = 4
grnn = GRNN(std=4.0, verbose=True)
grnn.train(X_train,Y_train)
Y_pred = grnn.predict(X_test).reshape(len(X_test))
m3 = fit_eval(Y_test,Y_pred)

Main information

[ALGORITHM] GRNN

[OPTION] std = 4.0
[OPTION] verbose = True

Evaluation:
Mean Squared Error : 0.5080437648399131
Mean Absolute Error : 0.562577695488586
Max Error : 2.1588795202062006
Explained Variance Score: 0.5655458725675526
R sq Score: 0.5786611198363409

From the evaluations of GRNN with different smoothing parameter, we can see that model with std = 0.1 has higher R2 score and lower MSE and hence is the better model.

In [20]:
#Using 'waistcirc', 'hipcirc', 'elbowbreadth' and 'kneebreadth' as independent variables
X = X[['waistcirc', 'hipcirc', 'elbowbreadth', 'kneebreadth']]
X_train, X_test, Y_train, Y_test =  train_test_split(X,Y, train_size=45, random_state=124)

#GRNN with Std 2.5
grnn = GRNN(std=2.5, verbose=True)
grnn.train(X_train,Y_train)
Y_pred = grnn.predict(X_test).reshape(len(X_test))
m4 = fit_eval(Y_test,Y_pred)

Main information

[ALGORITHM] GRNN

[OPTION] std = 2.5
[OPTION] verbose = True

Evaluation:
Mean Squared Error : 0.33673277716925926
Mean Absolute Error : 0.4129047401501468
Max Error : 1.6445638544429853
Explained Variance Score: 0.6466705565612112
R sq Score: 0.677109952796545

In [21]:
#GRNN with std 0.5
grnn = GRNN(std=0.5, verbose=True)
grnn.train(X_train,Y_train)
Y_pred = grnn.predict(X_test).reshape(len(X_test))
m5 = fit_eval(Y_test,Y_pred)

Main information

[ALGORITHM] GRNN

[OPTION] std = 0.5
[OPTION] verbose = True

Evaluation:
Mean Squared Error : 0.17827077960496085
Mean Absolute Error : 0.29257438571068717
Max Error : 1.6315903344204663
Explained Variance Score: 0.8129427260727915
R sq Score: 0.8146017123767713

Here, we can see that the model with smoothing param 0.5 has more R2 score and less MSE than the model with smooting param 2.5.